
/*Enlaces*/
.a-hf{
    color: white;
}

.a-hf:hover{
    color: white;
}

/*Cabecera*/
.cabecera{
    background: #1f3653;
    padding: 1.5em 1.5em;
    /*border-bottom: 0.25em solid black;*/
}
.nav-cabecera{
    display: flex;
}

.ul-cabecera{
    margin-left: auto !important;
    margin-top: 1em;
}

.li-cabecera{
    display: inline;
    margin-right: 2.5em;
}

.osaw{
    text-align: center;
}

.p-osaw{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

.buscador{
    text-align: right;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.label-buscador{
    color: white;
}

/*Pie de pagina*/
.pie{
    background: #1f3653;
    text-align: left;
    padding: 1.5em 1.5em;
}

.li-pie{
    display: inline;
    margin-right: 2.5em;
}

/*Contenido*/

.contenido{
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

/*titulo paginas*/
.h1-titulo{
    color:rgb(34, 104, 184);
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/*tablas*/
table{
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 0.625em;
}
th, td{
    padding: 15px;
    text-align: center;
    border-top: 0.0625em solid lightgray;
    border-bottom: 0.0625em solid lightgray;
    border-left: 0.0625em solid lightgray;
    border-right: 0.0625em solid lightgray;
    
}
th{
    background-color: #1b77c2;
    color: white;
}

.div-links{
    float: right;
}
